@thesisedu:registry=https://npm.pkg.github.com/
//npm.pkg.github.com/:_authToken=${GITHUB_TOKEN}

link-workspace-packages=deep

auto-install-peers=false
resolution-mode=lowest-direct
dedupe-peer-dependents=true
disallow-workspace-cycles=true
resolve-peers-from-workspace-root=false
